@model WebManagement.Models.LoginModel

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
            <div class="center">
                <h1>
                    <span class="blue bolder" id="id-text2">ASP.NET CORE MVC</span>
                </h1>
                <h4 class="blue" id="id-company-text">&copy; Nextwaver.net Co.,Ltd.</h4>
            </div>

            <div class="space-6"></div>

            <div class="position-relative">
                <div id="login-box" class="login-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header blue lighter bigger">
                                <i class="ace-icon fa fa-coffee green"></i>
                                Please Enter Your Information
                            </h4>

                            <div class="space-6"></div>

                            <fieldset>
                                @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            @Html.TextBox("TxbUsername", null, new { @class = "form-control", @placeholder = "Username" })
                                            @*@Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })*@

                                            <i class="ace-icon fa fa-user"></i>
                                        </span>
                                    </label>

                                    <label class="block clearfix">
                                        <span class="block input-icon input-icon-right">
                                            @Html.Password("TxbPassword", null, new { @class = "form-control", @placeholder = "Password" })
                                            @*@Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                            <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                    </label>

                                    <div class="space"></div>

                                    <div class="clearfix">
                                        <label class="inline">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"> Remember Me</span>
                                        </label>
                                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ﻿>
                                            <i class="ace-icon fa fa-key"></i>
                                            <span class="bigger-110" style="color:white">Login</span>
                                        </button>
                                    </div>
                                    <div class="space-4"></div>
                                }
                                <div class="social-or-login center">
                                    <span class="bigger-110">Or Login Using</span>
                                </div>
                                <div class="social-login center">
                                    <a class="btn btn-primary" asp-action="LoginFacebook" asp-route-provider="FB">
                                        <i class="ace-icon fa fa-facebook"></i>
                                    </a>

                                    <a class="btn btn-info">
                                        <i class="ace-icon fa fa-twitter"></i>
                                    </a>

                                    <a class="btn btn-danger">
                                        <i class="ace-icon fa fa-google-plus"></i>
                                    </a>


                                </div>
                                <label id="ERROR" style="color:red"> @ViewBag.name</label>
                            </fieldset>

                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div><!-- /.login-box -->
            </div><!-- /.position-relative -->
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->